<!DOCTYPE html>
<html>
<head>
	<title>注册</title>
	<meta charset="utf-8">
	<link rel="stylesheet" type="text/css" href="../../blog/asset/bootstrap-3.3.6-dist/css/bootstrap.min.css">
	<link rel="stylesheet" type="text/css" href="../../blog/asset/css/signup.css">
	<script type="text/javascript" src="../../blog/asset/js/jquery-2.2.0.min.js"></script>
	<script type="text/javascript" src="../../blog/asset/bootstrap-3.3.6-dist/js/bootstrap.min.js"></script>
</head>
<body>
<div class="signup_title">
	<img src="" alt="logo" style="border-right:1px dashed #A9A9A9;padding-right:20px;width:150px;height:80px;">
	<h1 style="display:inline;">&nbsp;欢迎注册</h1>
</div>
<div class="signup_form">
	<form class="form-horizontal" role="form" method="post" action="../../blog/signup.php">
		<div class="form-group">
			<label class="col-sm-2 control-label" for="username">用户名</label>
			<div class="col-sm-5">
				<input type="text" class="form-control" name="username" id="username" placeholder="请输入用户名">
				<span></span>
			</div>
		</div>
		<div class="form-group">
			<label for="passwd" class="col-sm-2 control-label">设置密码</label>
			<div class="col-sm-5">
				<input type="password" class="form-control" name="passwd" id="passwd" placeholder="请输入密码">
				<span></span>
			</div>
		</div>
		<div class="form-group">
			<label class="col-sm-2 control-label">确认密码</label>
			<div class="col-sm-5">
				<input type="password" class="form-control" id="passwd_confirm"placeholder="请确认密码">
				<span></span>
			</div>
		</div>
		<div class="form-group">
			<div class="col-sm-10 col-sm-offset-2">
				<input id="submit" name="submit" type="submit" value="立即注册" disabled="disabled" class="btn btn-warning">
			</div>
		</div>
	</form>
</div>
</body>
</html>
<script type="text/javascript" src="../../blog/asset/js/signup.js"></script>
