body {}
.topbar {
	position:fixed;
	margin-top:0px;
	display:block;
	height:30px;
	width:100%;
	left:0;
	top:0;
	font-size:15px;
	font-family:"宋体";
	background:#EEEEEE;
	padding-top:3px;
	padding:0 auto;
}
.topbar_main {
	margin: 0 auto;
	width:75%;
}
.topbar_main .topbar_login {
	float:right;
}
.topbar_main .signin a:hover {
	text-decoration:none;
}
.topbar_main .signin{
	/*display:block;*/
	background:#7B68EE;
	padding:0px;
	color:white;
}
.login_form {
	height:100px;
}
.blog {
	margin:0 auto;
	margin-top:30px;
	width:75%;
	border:1px solid;
}
.headarea {
	border:1px solid;
	width:100%;
	height:200px;
	border:1px solid;
	background:yellow;
	margin-bottom:15px;
}
.left_column {
	float:left;
	border:1px solid;
	width:30%;
	height:800px;
	padding:7px;
}
.right_column {
	float:right;
	border:1px solid;
	width:69%;
	height:900px;
}
.user_info {
	margin-bottom:10px;
	border:1px solid;
	height:200px;
	background: red;
}
.blog_info {
    border:1px solid;
    height:200px;
    margin-bottom: 10px;
}
.friend_list {
	border:1px solid;
	height:200px;
}
.list {
	border:1px solid black;
	padding-left:15px;
	padding-right:20px;
}
.item p {
	line-height:15%;
	font-size:30px;

}
.pagebar {
	border:1px solid red;
	margin-top:85%;
	padding-left:30%;
}
.pagebar ul {
	line-height:230%;
	float: left;
	margin:10px;
}
